body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('bg1.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px; /* Đường cong viền */
}


.logout-button {
    display: inline-block; /* Chuyển sang hiển thị inline-block để nút không chiếm toàn bộ chiều rộng */
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #dc3545; /* Màu nền của nút */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #dc3545; /* Thêm đường viền */
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; /* Hiệu ứng chuyển đổi */
    float: right; /* Căn phải */
}

.logout-button:hover {
    background-color: #c82333; /* Màu nền khi hover */
    border-color: #c82333; /* Thay đổi màu viền khi hover */
}


h2 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: #007bff; /* Màu chữ của tiêu đề */
}



.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Màu nền với độ mờ */
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease; /* Hiệu ứng màu nền và màu chữ */
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.9); /* Màu nền khi hover */
    color: #000; /* Màu chữ khi hover */
}

.menu-icon {
    font-size: 24px;
    margin-right: 15px;
    color: #007bff;
}

.menu-text {
    font-size: 18px;
    font-weight: bold;
}
